# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.studentOneMethod.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Administrateur\source\repos\studentOneMethod\.idea\.idea.studentOneMethod\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
